
html{
position: absolute;
overflow: hidden;
top: 0%;
left:  0;
margin: 0;
right: 0; 
bottom: 0;
background-color: black;
    
user-select: none;
}



.powr-hit-counter{
position: absolute;
right: 30%;
top: 6%;
width: 10%;
height: 3%; 
background: blue;
box-shadow: 5px  5px 3px 7px blue;
border-radius:   1px 54px 1px 55px;
}



.g{
position: absolute;
cursor: pointer;
font-size: 1.2w;
top:  0%;
left:  0%;
width: 100%;
height: 15%;
background-color: transparent;

} 
 
 
 

.gg{
position: absolute;
bottom:   7%;
right:   -1%;
width: 8%;
height: 12%;
background-color: transparent;
} 
 







 
.ma {

position: absolute;
top: 16%;
height: 12vw;
left: -1vw;
 }




video{
position: absolute;
width: 100%;
height: 100%;
object-fit:contain;
left: 0px;
right: 0px;
bottom: 0px;
display: inherit;
background: black;
object-fit: fill;

}

iframe{
position: absolute;
width: 100%;
height: 100%;
object-fit:contain;
left: 0px;
right: 0px;
bottom: 0px;
display: inherit;
background: black;
object-fit: fill;

}



.volver{
position: relative;
left: 10%;
height: 15%;
    
} 


.vvolver{
    position: relative;
top: -8%;
 left: 21%;
height: 5vw;
    width: 10vw;
    
} 
.vvolver1{
    position: absolute;
 top: -30VH;
 right:  -61VW;
height: 5vw;
    width: 10vw;
    
} 
.vvolver2{
    position: absolute;
   height: 5vw;
    width: 10vw;
    top: 3PX;
 right:  0PX;
}  
.wwvvolver{
    position: absolute;
    height: 15vw;
    width: 10vw;
    top: -13%;
 right:  0%;
     
} 

.volver1{
position: absolute;
box-shadow: 1px 1px 20px orangered;
display:inline-block;
border-radius: 11px;
text-align-last: center;
 background-color: orangered;
font-size:  4vh;
 
} 

.volver2{
position: absolute;
  left: 1%;

 box-shadow: 1px 1px 20px orangered;
display:inline-block;
border-radius: 11px;
text-align-last: center;
 background-color: orangered;
font-size:  4vh;
 
}     


 

.localidad{
    position: absolute;
 left: 30%;
top:  50%;
    padding-left: 20%;
    width: 100%;
}  
 

.volver11{
width: 10vw;
height: 2.5vw;
box-shadow: 1px 1px 20px orangered;
display:inline-block;
border-radius: 11px;
text-align-last: center;
 background-color: orangered;
font-size:  4vh;

}     


.booton1{
 
 width: 15%;
 text-align-last: center;
  position: absolute; 
right: 15%; 
bottom: 30%; 
display:inline-block;
    
 }     



.FLECHA{
 width: 5vw;
height: 2.5Vh;
 
 }     

.link1{
text-decoration: none;
 cursor: pointer;
 border-radius: 5px;
background-color: red;
margin-left: 2vh;
    box-shadow: 1px 1px 10px yellow;
 border-radius:   1px 54px 1px 55px;

} 







.container{
position: absolute;
background: linear-gradient(to top, rgba(10, 15, 10, 00.9) 20%, transparent 60%);

width: 100%;
top: 0;
bottom: 0;
} 






.icon44 {
font-size: 3vh;
padding: 2% 1% 1% 1%;
box-shadow: 1px 1px 20px orangered;
margin: 1.5vw;
display:inline-block;
transition: all .15s;
width: 9vw;
border-radius: 11px;
text-align-last: center;
}

.icon44:hover {
padding: 3% 1% 3% 1%;
 border-radius: 2px;
background-color: orangered;
box-shadow: 1px 1px 20px blue;
    text-align-last: center;
border-radius: 11px;

}

.iinicio{
position: absolute;
overflow: hidden;
top: 0%;
left:  0;
margin: 0;
right: 0; 
bottom: 0;
background-color: black;
    
     
 }
.vario{
position: absolute;
overflow: hidden;
top: 0%;
left:  0;
margin: 0;
right: 0; 
bottom: 0;
background-color: black;
    
     
 }

.logopeli, fade3{
position: absolute;
top: -4%;
left: 5%;
width: 51%;
height: 65.5%;  
 transform: rotate(3.0deg);
   
}


.genero{
position: absolute;
left:    60vw;
width: 30%;
  top:  60VH;
    font-size:  3vh;

     
  }
.link{
text-decoration: none;
 color: azure;
 cursor: pointer;
 border-radius: 5px;
padding: 1% 1%;
box-shadow: 7px 5px dimgray;
  background-color: red;
margin-left: 2vh;
} 




.description{
position: absolute;
color: azure;
font-size: 3.4vh;
margin-top:  2%;
width: 44%;
left: 55%;
top: 34%;	

}

.año{
position: absolute;
font-size:  3vh;
padding: 1% 1%;
right: 41%;
top: 19%;	
color: aliceblue;
height: 2%;
background: blue;
border-radius:   1px 54px 1px 55px;
}

.logo{
position: absolute;
left: 0%;
top: 3%;
width: 15%;
height: 13%; 
    
}

.logo2{
position: absolute;
right: 0%;
top: 0%;
height: 10%; 
width: 7%;
}

.whatsapp{
position: absolute;
left: 1%;
bottom:  1%;
height: 12%; 
width: 6%;
}


.dad{
position: absolute;
top:14%;
left: 0%;
font-size:  2.5vw;
font-weight:bolder;

  }




 
.go11{
position: absolute;
color: aliceblue;
 background: linear-gradient(180deg,transparent,#a945c7);cursor: pointer;
box-shadow: 5px  5px 3px 3px BLACK;
border-radius:   1px 54px 1px 55px;
    
font-size: 2vw;
top: 41%;
left:  44%;
width: 11%;
height: 7%; 
} 
 



 









.go:hover{
    box-shadow: 0 0 40px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 0.1s;
    right: 0;
    background: linear-gradient(180deg,transparent,#a945c7);
 }




.play{
position: absolute;
cursor: pointer;
width: 8%;
height: 3.5vw; 
background-color: transparent;
padding: 0;
margin: 0;
bottom: 0;
right:     2.5%;     
top: 62%;
bottom: 0;
box-shadow: 3px 5px red;
font-size:  3vh;
border-radius: 54px;
background-color: black;
} 




.pause{
position: absolute;
background-color: transparent;
color: aliceblue;
width: 100%;
height: 100%; 
font-size: 4vh;
display: none;

} 

.iniciocarga{ 
position: absolute;
height: 100%;
width: 100%;
cursor: pointer;	

}


#panel {
  display: inherit;
     animation-duration: 18s;
}


        /* Fading animation */  
        .fade {  
            -webkit-animation-name: fade;
            -webkit-animation-duration: 18s;  
            animation-name: fade;  
            animation-duration: 11s;
            background-color: black;
        }  
        @-webkit-keyframes fade {  
            from {  
                opacity: 0;  
                animation-duration: 8s;
 		
            }  
            to {  
                opacity: 1;
               animation-duration: 8s;

            }  
        }  
  
       
 


      


/* Fading animation */  
        .fade2 {  
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1s;  
            animation-name: fade2;  
            animation-duration: 3s;
            
        } 
  
        @keyframes fade2 {  
            from {  
                
                opacity: 0;  
                animation-duration: 35s;
               top: 0%; 
            }  
            to {  
                opacity: 2;
                animation-duration: 5s;
                
            }  
        }  
/* Fading animation */  
        .fade3 {  
            -webkit-animation-name: fade;
            -webkit-animation-duration: 2s;  
            animation-name: fade3;  
            animation-duration: 2s;
            
        } 
  
        @keyframes fade3 {  
            from {  
                
                opacity: 0;  
                animation-duration: 5s;
           transform:translate(0%,0%) scale(1);
margin-top:  40%;

            }  
            to {  
                opacity: 1;
              
                
            }  
        }  
 










@media only screen and (orientation:landscape) {
.contenido { display: block }
    
.icon1 {

}
    
}
	
 

    
.fullvid {
position: absolute;
width: 100%;
height: 100%; 
}
.popup .fullvid {
position:fixed;
transform:scale(0);
z-index:2;
text-align:center;
}
.popup.active .fullvid {
transition:all 20ms ease-in-out;
transform:translate(-0%,-0%) scale(01);
background: black;
}

    
  














 