
*{
margin:0px;
padding:0px;
}
 


 
.target {
color: aliceblue;
text-decoration: none;
margin-top:     2vh;

    
} 

.social-bar {
position: absolute;
 height: 97%; 
     
background: linear-gradient(to right, rgba(10, 15, 10, 00.9) 100%, transparent 20%);
   padding: 0 5px;
 font-size: 1vw;
box-shadow: 1px 1px 1vw blue;
    border-radius: 0 3rem 3rem 0;

}

.icon {
position: relative;
display: flex;
transition: all .15s;
height: 6%;
width: 3.7vw;


} 

 

.icon1 {
position: relative;
display: flex;
transition: all .15s;
height: 6%;
width: 3.7vw;


} 

 

.icon-inicio {
display: flex;
  font-size: 2vw;

}


.target1 {
color: aliceblue;
text-decoration: none;
 
}
.icon-facebook {
background: #2E406E;
color: aliceblue;
text-decoration: none;
 
}
.icon-twitter {
background: #339DC5;
border-radius: 0 0 3rem 0; 
   
}
.icon-0 {
margin-top:  2vh;
}
.icon-1 {
margin-top:  1vh;
}
.icon-1 {
margin-top:  1vh;
}
.icon-2 {
margin-top:  1vh;
}
.icon-3 {
margin-top:  2vh;
  }
.icon-4 {
 
margin-top:  1vh;

}
.icon-5 {
  font-size: 2vw;
margin-top:   9vh;
  }

.icon-instagram {
top:  8vh;
 background-color: red;
box-shadow: 3px 1px 10px blue;
  border-radius: 0 3rem 0  0;
height: 7vh;

}

.icon-instagram2 {
margin-top:   14vh;
 background-color: red;
box-shadow: 3px 1px 10px blue;
height: 7vh;
    
box-shadow: 1px 1px 1vw blue;
    border-radius: 0 0 3rem 0;
}









.instagram11 {
position: absolute;
margin-left:  1vh;
margin-top:  1vh;
text-decoration: none;
color: aliceblue;
line-height:  40vh;
 font-stretch: expanded;
line-height:  5vh;
text-align: center;
font-size:  7vh;
    
}

.instagram22 {
position: absolute;
margin-left:  2vh;
margin-top:  -1vh;
text-decoration: none;
color: aliceblue;
 font-stretch: expanded;
line-height:  5vh;
text-align: center;
font-size:  9vh;

    
}

































.icon:first-child {
border-radius: 0 3rem 0 0;
}
.icon:last-child {
border-radius: 0 0 3rem 0;
}
.icon:hover {
padding-left: 150%;
background-color: orangered;
box-shadow: 5px 1px 10px orange;
-webkit-transition-property: background-color, color;
-webkit-transition-duration: 3s;
-o-transition-property: background-color, color;
-o-transition-duration: 3s;
  font-size: 2vw;

}






article{

position: absolute;
top: -1%;
width: 95%;
left: 2%;
overflow-y: hidden;
overflow-x: hidden;
height: 40%;

}

 
 
 


.z-slide-item {
 position: absolute; 
 left: 25vh;
 width: 70%;
 height: 80%;
 transform: translate3d(10, 10, 10);
margin-top: 1%;
left:  15%;

}

.z-slide-item img {
 right: 0;
 bottom: 0;
 width: 100%;
 height: 100%;
 margin: auto;
 border-radius:   1px 54px 1px 55px;

}


.item {
cursor:pointer;
transition: transform 2.2s;
width: 100%; 
height: 100%;
display: inline-block;
margin-left:  -5%
    }

 
 


.item:focus,
.item:hover {
transform: scale(1.2);
z-index: 7;
position: relative;
transition: transform 1.2s;	
   }





 



 